---
title: Krakow
tags:
- Shows
- London
date: 2018-04-28 09:47:15 +0000
show_date: 2018-04-16 22:00:00 +0000
banner_image: "/uploads/2018/04/12/IMG-20180410-WA0027.jpg"
sub_heading: ''
slug: ''
short_description: This should be a short description
---
<p>The show was grate and ....</p><img src="/uploads/2018/04/12/bulldog_inc_club.png"><p><br></p>