<div style="text-align: center;">
    <p>
        <br>
    </p>Hello, I am Maureen Mortham and my family has lived in Norfolk for generations. For as long as I can remember,
    and even before I was born, there have been bulldogs in the family. Here is a picture taken in 1926 of my
    grandfather, father and uncle with bulldog
    <b>“Gemini Zodiac”</b>.
    <div>
        <div>
            <div>
                <p><br></p>
                <div>
                    <div style="width: 100%; display: flex; justify-content: center">
                        <img src="/uploads/2018/05/05/1926.jpg"
                             style="padding: 25px;"
                             alt="picture taken in 1926 of my grandfather, father and uncle with bulldog"/>
                    </div>
                    <p><span style="font-size: 1rem;"><br></span></p>
                    <p><span style="font-size: 1rem;">When I eventually had my own home, I acquired my very first bulldog from Petergard Kennel <b>“Georgie Girl”</b>. She was a typical bully, gentle, loyal and lots of fun. She and my three children grew up together. It was a great experience sharing our lives with her. She taught the children responsibility, kindness, and the ability to share. They experienced a companionship second to none. It was a sad time for us when she died at eight years of age. Anyone who has shared their home with bulldogs will understand the emptiness which is left behind when they are no longer with us.

Thank heavens for the many happy memories.</span><br></p>
                    <p>Four years later we were lucky enough to purchase a bulldog puppy <b>“Sydlaine Jubilee
                        Jaunty”</b>
                        (Thurston), followed two years later by Katie. Thurston proved himself a great character, loved
                        and
                        remembered by all who met him. He lived to the age of 12.5 years, dying peacefully in his sleep.
                        Katie was the founder of the Packapunch kennel. As you can see I have owned and loved bulldogs
                        for
                        over 30 year, but it is only since <b>1984</b> that James and I have found the time necessary to
                        devote to breeding and showing.</p>
                </div>
                <p><br></p>
            </div>
        </div>
    </div>
</div>
