{% comment %}
  Displays the address from _data/information.yml properly formatted
{% endcomment %}

{% if site.data.information %}
{% assign info = site.data.information %}
<p>
  {% if site.title %}{{ site.title }}<br />{% endif %}
  {% if info.address_1 %}{{ info.address_1 }}<br />{% endif %}
  {% if info.address_2 %}{{ info.address_2 }}<br />{% endif %}
  {% if info.country and info.state and info.city %}
  {{ info.city }}, {{ info.state }}, {{ info.country }}<br />
  {% endif %}
  {% if info.phone %}<a href="tel:{{ info.phone }}" title="{{ info.phone }}">{{ info.phone }}</a><br />{% endif %}
  {% if info.email %}<a href="mailto:{{ info.email }}" title="{{ info.email }}">{{ info.email }}</a>{% endif %}
</p>
{% endif %}