<section class="afix">
    <p style="text-align: center;">For Christmas 1985 my father gave me a present of money and we decided to use it to establish an affix.<br>
        Six names were put forward and we were delighted when we were awarded “PACKAPUNCH” for our affix.</p>
    <p style="text-align: center;">This in our view is the word that sums up the bulldog and also the effect we hope our kennels will have in the bulldog world.</p>
</section>
