<footer class="footer">
    <div class="footer__right">
        <div class="footer__address">
            <h3 class="footer__address-title">Contact</h3>
            {% include address.html %}
        </div>
        <div class="footer__copyright">
            <p>
                &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br>
            </p>
        </div>
    </div>

    <div class="footer__partners">
        <h3 class="footer__partners-title">Members of:</h3>
        {% include partners.html %}
    </div>

</footer>
