<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="description"
      content="{% if .page.description %}{{ .page.description }}{% else %}{{ .site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{{ "/img/favicon.png" | absolute_url }}"/>
<link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="{{ "/css/styles.css" | absolute_url }}">

<link rel="stylesheet" href="{{ "/css/gallery.css" | absolute_url }}">

<link href="https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap" rel="stylesheet">
