{% comment %}
Displays the site's navigation using the jekyll-menus plugin
{% endcomment %}

{% assign url = page.url | remove:'index.html' %}

<header class="header">
    <div class="header-content">
        <nav class="header-content__mobile__nav">
            <div class="header-content__mobile-button" onclick="
                document.querySelector('.header-content__mobile_menu').classList.toggle('hidden_menu')
            ">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="29px" height="29px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;"
                     xml:space="preserve">
                        <g>
                            <g id="menu">
                                <path fill="white" d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"/>
                            </g>
                        </g>
                </svg>

            </div>
            <div class="header-content__mobile_menu hidden_menu">
                <ul class="nav">
                    {% for link in site.menus.navigation %}
                    <li class="{% if link.children %}nested {% endif %}{% if url == link.url %}current{% endif %}">
                        <a href="{{ link.url | absolute_url }}" {% if link.target %} target="_blank" {% endif %}>
                            {{ link.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <nav class="header-content__nav header-content__nav--left">
            <ul class="nav">
                {% for link in site.menus.navigation %}
                {% if link.weight < 4 %}
                <li class="{% if link.children %}nested {% endif %}{% if url == link.url %}current{% endif %}">
                    <a href="{{ link.url | absolute_url }}" {% if link.target %} target="_blank" {% endif %}>
                        {{ link.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <h1 class="header-content__logo">
            <a class="header-content__logo-link" href="{{ "/" | absolute_url }}" >
                <img class="header-content__logo-image" src="/img/packapuch.png">
            </a>
        </h1>
        <nav class="header-content__nav header-content__nav--right">
            <ul class="nav">
                {% for link in site.menus.navigation %}
                {% if link.weight > 3 %}
                <li class="{% if link.children %}nested {% endif %}{% if url == link.url %}current{% endif %}">
                    <a href="{{ link.url | absolute_url }}" {% if link.target %} target="_blank" {% endif %}>
                        {{ link.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
