{% comment %}
as well as the latest 2 documents from the _posts/ collection
{% endcomment %}

{% if page.show_news %}
<section class="post-box">
    <h3 class="post-box__heading">News</h3>
    <ul class="post-box__posts">
        {% for post in site.posts limit:3 %}
        <li class="post-box__post">
            <a href="{{ post.url | absolute_url }}">
                <div class="post__date">{{ post.date | date_to_string }}</div>
                <h5 class="post__title">{{ post.title }}</h5>
                <div>
                    <div class="post__sub-heading">{{ post.sub_heading }}</div>
                    <div class="btn-more" href="{{ post.url | absolute_url }}">
                        ...read more
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div style="text-align: center;">
        <a href="{{ '/posts/' | absolute_url }}" class="btn">More News</a>
    </div>
</section>
{% endif %}
