{% assign partners = site.data.partners.logos %}

{% if partners %}
<ul class="partners--list">
    {% for logo in partners %}
    <li class="partners--list__item">
        <img src="{{ logo | absolute_url }}" alt="{{ logo }}" />
    </li>
    {% endfor %}
</ul>
{% endif %}