{% comment %}
Displays all of the people from the _people/ collection in a grid
{% endcomment %}

{% if page.show_staff %}
<section class="column-list-layout">
    <div class="container">
        <div class="container__body">
            <h2 class="section-heading">Belkirk Staff</h2>
            <div class="pure-g">
                {% assign people = site.people %}
                {% for person in people %}
                <div class="pure-u-1 pure-u-md-1-4">
                    <div class="post">
                        <div class="post-header">
                            {% if person.thumbnail %}
                            <img alt="{{ person.title }}" src="{{ person.thumbnail | absolute_url }}">
                            {% else %}
                            <img alt="{{ person.title }}" src="{{ "/img/placeholder.png" | absolute_url }}>
                            {% endif %}
                        </div>
                        <div class="post-body">
                            <h3>
                                <a href="{{ person.url | absolute_url }}">{{ person.title }}</a>
                            </h3>
                            {% if person.sub_heading %}
                            <div class="subtitle">
                                {{ person.sub_heading }}
                            </div>
                            {% endif %}
                            <p>
                                {{ person.content | truncatewords: 25, "...<br><br>Continue reading →" }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
