@import "colors";
@import "vars";
.breadcrumbs{
  display: inline-block;
  font-size: .875em;
  min-width: 30%;
  color: $c6;
  margin: 10px 0;
ś  ul{
    height: 22px;
  }
  li{
    display: inline-block;
    max-width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    a, a:hover , a:focus {
      text-decoration: underline;
      color: $c20;
    }
    &::after{
      content: '>';
      display:inline-block;
      padding: 0 2px;
    }
    &:last-of-type::after{
      content: '';
    }
  }
}
