@import "vars";
.btn, a.btn{
  color: $c_bg;
  background: $c_font;
  padding:  5px 10px;
  margin: 20px 0 0;
  display: inline-block;
  font-family: 'raleway', sans-serif;
}

.btn-more, a.btn-more , a:hover.btn-more, a:visited.btn-more, a:focus.btn-more{
  color: $c20;
  margin: 20px 0 0;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}
