@import 'vars';
@import 'mixins';
@import 'normalize';
@import 'colors';

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: $c20;
}

body {
  position: relative;
  font-family: 'Montserrat', serif;
  background: #060512;
  color: $c6;
  width: 100%;
  line-height: 1.5em;
}

@import 'nav';
@import 'footer';
@import 'breadcrumbs';
@import 'shows';
@import 'home';
@import 'btn';
@import 'posts-box';
@import 'page';
@import 'post';
@import 'posts';
@import 'colors';
@import 'gallery';

.content {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  min-height: 100vh;
  background-color: $c_bg;
  background-size:  120%;
  background-repeat: no-repeat;
  background-image: url("/img/packapungbg1.png");
  background-position:  40% 100px;
  margin-right: auto;
  margin-bottom: 160px;
  margin-left: auto;
  position: relative;
  max-width: 1280px;
  img {
    max-width: 100%;

  }
  &__body {
    flex: 1 1 auto;
    padding: 110px $base-margin;
    max-width: 1500px;
    line-height: 1.5;
    @include for-tablet-landscape-up {
      padding: 180px 4*$base-margin;
    }
  }
  .footer {
    flex: 0 0 auto;
  }
}

