.footer {
  align-content: right;
  color: $c2;
  display: flex;
  flex-flow: row wrap;
  font-size: .875em;
  min-height: 100px;
  padding: $base-margin/2 $base-margin;
  width: 100%;
  font-family: 'Montserrat',sans-serif;

  &__right {
    order: 2;
    flex: 100% 1 1;
    @include for-tablet-landscape-up{
      flex: 1;
      order: 1;
    }
  }
  &__address {
    &-title {
      font-weight: bold;
      padding-bottom: 5px;
    }
    a, a:hover, a:focus, a:visited {
      color: $c20;
      text-decoration: underline;
    }

  }

  &__partners {
    &-title {
      font-weight: bold;
      padding-bottom: 5px;
    }
    .partners--list {

      &__item {
        display: inline-block;
        padding-right: 10px;
        img {
          max-height: 75px;
          width: auto;
        }
      }
    }
    order: 0;
    flex: 100% 1 1;

    @include for-tablet-landscape-up{
      flex: 0 0 auto;
      min-width: 30%;
      order: 2;
    }

  }
  &__copyright {
    border-top: 1px solid $c2;
    display: inline-block;
    font-size: .675em;
    margin-top: 10px;
    padding: 3px 0 0;
    padding-right: 50px;
  }
}
