@import "colors";
.gallery{
  display: flex;
  .gallery__image{
    flex: 0.333;
    border: 5px solid $c6;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c6;
    &:hover{
      border-color: $c_font;
    }
  }
}
