@import "mixins";
@import "colors";

.home {
  display: flex;
  flex-flow: row wrap;
  min-height: 30vh;
  @include for-tablet-landscape-up{
    min-height: 36vh;
  }
  position: relative;

  .flag{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    @include for-tablet-landscape-up{
      height: 25px;
    }
  }
  &--right {
    flex: 1 1 65%;
    padding: 0 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    @include for-tablet-landscape-up{
      padding-right: 100px;
    }
  }

  &--left {
    flex: 1 1 35%;
    min-width: 280px;
  }
  &--heading {
    font-size: 2em;
    @include page-heading();
    width: 100%;
    padding: 50px;
    text-align: center;
    @include for-tablet-landscape-up {
      padding: 95px 250px 0 250px;
      font-size: 2.2em;
    }
    font-weight: normal;
  }
  &--image {
    @include image-with-border();
    max-width: 700px;
    width: 100%;
    align-self: right;
  }
  &--content{
    line-height: 1.5;
    padding: 10px;
    @include for-tablet-landscape-up {
      padding: 20px;
    }
  }
}
