@import "vars";

@mixin for-phone-only {

  @media (max-width: 599px) {

    @content;
  }
}

@mixin for-tablet-portrait-up {

  @media (min-width: 600px) {

    @content;
  }
}

@mixin for-tablet-landscape-down {

  @media (max-width: 900px) {

    @content;
  }
}

@mixin for-tablet-landscape-up {

  @media (min-width: 900px) {

    @content;
  }
}

@mixin for-desktop-up {

  @media (min-width: 1200px) {

    @content;
  }
}

@mixin for-big-desktop-up {

  @media (min-width: 1800px) {

    @content;
  }
}

@mixin ios-input-element-in-fixed-modals-hack($modalClassName ) {
  /* stylelint-disable at-rule-no-unknown */

  @at-root .body--ios #{$modalClassName} {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@mixin for-phone-only {

  @media (max-width: 599px) {

    @content;
  }
}

@mixin for-tablet-portrait-up {

  @media (min-width: 600px) {

    @content;
  }
}

@mixin for-tablet-landscape-down {

  @media (max-width: 900px) {

    @content;
  }
}

@mixin for-tablet-landscape-up {

  @media (min-width: 900px) {

    @content;
  }
}

@mixin for-desktop-up {

  @media (min-width: 1200px) {

    @content;
  }
}

@mixin for-big-desktop-up {

  @media (min-width: 1800px) {

    @content;
  }
}

@mixin ios-input-element-in-fixed-modals-hack($modalClassName ) {
  @at-root .body--ios #{$modalClassName} {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@mixin image-with-border {
  max-width: 100%;
  width: 100%;
  max-height: auto;
  border: 6px $c5 solid;
  border-radius: 3px;

  -webkit-box-shadow: 0 28px 16px -26px black;
  -moz-box-shadow: 0 28px 16px -26px black;
  box-shadow: 0 28px 16px -26px black;
  position: relative;
}

@mixin page-heading {
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: $base-margin $base-margin 2*$base-margin;
  color: $c_font;
}
