@import 'mixins';
@import 'colors';
@import 'zindex';

$header_mobile_height: 100px;
$header_mobile_height: 150px;

.header {
  width: 100%;
  position: fixed;
  z-index: $z-index-header;
  justify-content: center;

  &:before {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background: $c_bg;
    content: '';
    opacity: .75;
  }

  .header-content__mobile__nav {
    @include for-tablet-landscape-up {
      display: none;
    }

    .header-content__mobile-button {
      position: fixed;
      top: 25px;
      left: 25px;
      z-index: 10;
      cursor: pointer;
    }

    .header-content__mobile_menu {
      position: fixed;
      background: rgba($c_bg, 1);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9;
      &.hidden_menu {
        display: none;
      }

      ul {
        width: 100%;
        text-align: center;
        font-size: 2em;
        margin-top: 100px;
        li {
          padding: 20px;
          a {
            color: $c6;
          }

        }
      }
    }
  }

  &-content {
    height: $header_mobile_height;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1280px;
    justify-content: center;

    @include for-tablet-landscape-up {
      height: $header_mobile_height;
    }

    &__logo {
      flex: 0;

      &-link {
        display: flex;
        position: relative;

        &::before {
          content: ' ';
          display: block;
          position: absolute;
          width: 106%;
          height: 106%;
          left: -3%;
          top: -3%;
          border-bottom-left-radius: 100%;
          border-bottom-right-radius: 100%;
          z-index: -1;
          background: $c_bg;
        }
      }

      img {
        width: 100px;
        height: 100px;
        @include for-tablet-landscape-up {
          width: 175px;
          height: 175px;
        }
      }
    }

    &__nav {

      align-self: center;
      flex: 2;
      font-family: 'raleway', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .2em;
      display: none;
      @include for-tablet-landscape-up {
        display: block;
      }

      $navPadding: 25px;

      &--left {
        .nav {
          justify-content: flex-end;

          li:last-of-type {
            margin-right: $navPadding * 2;
          }
        }
      }

      &--right {
        .nav {
          li:first-of-type {
            margin-left: $navPadding * 2;
          }
        }
      }

      .nav {
        display: flex;
        flex-flow: row nowrap;

        li {
          display: block;
          position: relative;
          margin: 0 $navPadding;

          a {
            display: block;
            transition: color 0.3s, padding-left 0.3s;
            padding: 12px 0px;
            color: $c6;
          }

          &::before {
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 60%;
            height: 3px;
            display: block;
            content: '';
            background-color: #6dcff6;
            transform: scale(0, 1);
            transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

          }

          &:hover::before {
            transform: scale(1, 1);

          }
        }
      }
    }
  }
}

