.page{
  padding: 20px;
  .h1{
    @include page-heading();
    font-size: 1.125em;
  }
  &__heading {
    flex: 1 1 auto;
    max-width: 1500px;
    line-height: 1.5;
    font-size: 1.75em;
    text-align: center;

    @include page-heading();
    @include for-tablet-landscape-up{
      padding: 20px 0;
    }
  }
  &__body {
    p {
      margin-bottom: 10px;
    }
  }

}
