@import "vars";
@import "mixins";

.post-box {
  margin: 20px 5% 0;
  padding: 0;

  @include for-tablet-landscape-up {
    margin: 20px 20% 0;
  }

  min-height: 200px;

  &__heading {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    @include page-heading();
    @include for-tablet-landscape-up {
      padding-top: 100px;
    }
  }

  &__posts {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  &__post {
    border-top: solid rgba($c6, .2) 0.5px;
    padding: 15px;
    flex: 1 1 100%;

    @include for-tablet-landscape-up {
      flex: 1;
      &:nth-of-type(3n+0) {
        margin-right: 0;
      }
    }

    a, a:hover, a:visited, a:focus {
      color: $c6;
    }

    .btn-more {
      margin-top: 5px;
      text-align: right;
      display: block;
    }

    .post {
      &__date {
        font-size: 0.75em;
        color: $c6;
      }

      &__title {
        margin-top: 5px;
      }
    }
  }
}
