@import "vars";
@import "mixins";

.posts {

  .page__heading {
    padding-bottom: 40px;
  }
  .post {
    padding: 0;
    background: $c4;
    color: $c2;
    margin-bottom: 20px;
    min-height: 300px;
    width: 100%;

    @include for-desktop-up {
      width: 45%;

    }


    &__image {
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
    }

    &__content {
      padding: 20px;

    }
    .btn-more {
      margin-top: 5px;
      text-align: right;
      display: block;
    }

    &__date {
      font-size: 0.75em;
      color: $c2;
    }
    &__title {
      margin-top: 5px;
    }
  }
}
