@import "mixins";
@import "vars";
@import "colors";

.shows {
  display: flex;
  flex-flow: row wrap;
  h1 {
    flex: 100% 1 1;
    font-size: 1.75em;
    @include page-heading();
    text-align: center;
  }
  $border-color: rgba(white, .3);

  .shows-item {
    padding: 3em 2em 2em;
    position: relative;
    color: $c6;
    width: calc( 50% + 1px);
    @include for-tablet-landscape-up {
      &:nth-child(even) {
        text-align: right;
        border-right: 2px solid $border-color;
        margin-right: calc(50% - 1px);

        &::before {
          content: attr(date-is);
          position: absolute;
          font-weight: bold;
          right: 2em;
          top: 1em;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: .785rem;
        }

        &::after {
          width: 10px;
          height: 10px;
          display: block;
          top: 1em;
          position: absolute;
          right: -8px;
          border-radius: 10px;
          content: '';
          border: 2px solid $border-color;
          background: white;
        }

        &:last-child {
          border-image: linear-gradient(
                          to bottom,
                          $border-color 60%,
                          rgba($border-color, 0)) 1 100%;
        }


      }

      &:nth-child(odd) {
        margin-left: calc(50% - 1px);
        border-left: 2px solid $border-color;

        &::before {
          content: attr(date-is);
          position: absolute;
          font-weight: bold;
          top: 1em;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: .785rem;
        }

        &::after {
          width: 10px;
          height: 10px;
          display: block;
          top: 1em;
          position: absolute;
          left: -8px;
          border-radius: 10px;
          content: '';
          border: 2px solid $border-color;
          background: white;
        }

        &:last-child {
          border-image: linear-gradient(
                          to bottom,
                          $border-color 60%,
                          rgba($border-color, 0)) 1 100%;
        }
      }
    }
    @include for-tablet-landscape-down {
      border-left: 2px solid $border-color;
      width: 100%;
      &::before {
        content: attr(date-is);
        position: absolute;
        font-weight: bold;
        top: 1em;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: .785rem;
      }

      &::after {
        width: 10px;
        height: 10px;
        display: block;
        top: 1em;
        position: absolute;
        left: -8px;
        border-radius: 10px;
        content: '';
        border: 2px solid $border-color;
        background: white;
      }

      &:last-child {
        border-image: linear-gradient(
                        to bottom,
                        $border-color 60%,
                        rgba($border-color, 0)) 1 100%;
      }
    }
    p {
      font-size: 1rem;
    }
    &--image{
      max-height: 200px;
      max-width: 100%;
    }
    &--title{
      font-size: 1.25em;
      font-family: raleway;
      font-weight: bold;
    }
    &--body{
      padding: 0 0 10px 0;
    }
  }
}



