---
layout: default
---
<div class="about">
    {% if page.heading and page.heading != "" %}
    <h1 class="page__heading">
        {{ page.heading }}
    </h1>
    {% endif %}
    <div class="container__body">
        {% include about.html %}
        <h1 class="page__heading">
            Our Affix
        </h1>
        {% include affix.html %}
    </div>
</div>
