<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% include nav.html %}
<div class="content">
    <div class="content__body">
        {{ content }}
    </div>
</div>

<!-- Javascript -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
