---
layout: default
---
{% comment %}
This layout is used to by dog.md to display all of documents in
the _dogs/ collection
{% endcomment %}


<div class="dog">
  {% if page.sub_heading and page.sub_heading != "" %}
  <h1 class="page__heading">
    {{ page.sub_heading }}
  </h1>
  {% endif %}
  <div class="dog__photo">
    {{ dog.photo }}
  </div>
</div>
