---
layout: default
---
{% comment %}
This layout is used to by posts.md to display all of documents in
the _posts/ collection
{% endcomment %}


<div class="posts">
  {% if page.sub_heading and page.sub_heading != "" %}
  <h1 class="page__heading">
    {{ page.title }}
  </h1>
  {% endif %}
  <div class="posts__list">
    {% for dog in site.dogs %}
    <a href="{{ dog.url | absolute_url }}" class="dog">
      {{ dog.title }}
    </a>
    {% endfor %}
  </div>
</div>
