---
layout: default
---
{% comment %}
This layout is used to by posts.md to display all of documents in
the _posts/ collection
{% endcomment %}
<script src="{{ 'js/gallery.js' | absolute_url }}"></script>

{% for photo in site.gallery %}
<div id="p{{ forloop.index }}_photo" style="display:none">
    <h4>{{ photo.title }}</h4>
    <p>{{ photo.description }}</p>
</div>
{% endfor %}
<h1 class="page__heading">
    {{ page.heading }}
</h1>
<div class="gallery" id="gallery">

    {% for photo in site.gallery %}
    <a class="gallery__image" href="{{ photo.photo }}" data-sub-html="#p{{ forloop.index }}_photo">
        <img src="{{ photo.photo }}" alt="{{photo.title}}" class="photo">
        {{ dog.title }}
        </img>
    </a>
    {% endfor %}
</div>

<script type="text/javascript">
    lightGallery(document.getElementById('gallery'));
</script>
