---
layout: default
---
{% comment %}
A general page layout. Used by default for all content on the site.
{% endcomment %}


<div class="page">
    {% if page.heading and page.heading != "" %}
    <h1 class="page__heading">
        {{ page.heading }}
    </h1>
    {% endif %}
    <div class="page__body">
        {{ content }}
    </div>
</div>
