---
layout: default
---
{% comment %}
This layout is used by the documents in the _posts/ collection
{% endcomment %}


<div class="container">
    <div class="container__body">
        {{ content }}
    </div>
</div>
