---
layout: default
---
{% comment %}
	This layout is used by the documents in the _post/ collection
{% endcomment %}

{% include breadcrumbs.html class="content-narrow" %}

<div class="posty">
  <div class="posty__body">
      <div class="meta">
        {% if page.date %}
        <div class="posty-date">{{ page.date | date_to_string }}</div>
        {% endif %}
          <h1>{{ page.title }}</h1>
      </div>
      {{ content }}
      <img src="{{ page.banner_image | absolute_url }}" alt="{{ post.title }}">
  </div>
</div>
