---
layout: default
---
{% comment %}
This layout is used to by posts.md to display all of documents in
the _posts/ collection
{% endcomment %}



<div class="posts">
    {% if page.sub_heading and page.sub_heading != "" %}
    <h1 class="page__heading">
        {{ page.sub_heading }}
    </h1>
    {% endif %}
    <div class="posts__list">
        {% for post in site.posts %}
        <a href="{{ post.url | absolute_url }}" class="post">
            <div class="post__image">
                {% if post.thumbnail and post.thumbnail != "" %}
                <img src="{{ post.thumbnail | absolute_url }}" alt="{{ post.title }}">
                {% else %}
                <img src="{{ "/img/pawprint1.png" | absolute_url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="post__content">
                <div class="post__date">{{ post.date | date_to_string }}</div>
                <h2 class="post__title">{{ post.title }}</h2>
                <div class="post__sub-heading">{{ post.sub_heading | truncatewords: 30 }}</div>
                <div class="btn-more" href="{{ post.url | absolute_url }}">
                    ...more
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<script>
    var mgLoaded  = function () {
        var magicGrid = new MagicGrid({
            container: ".posts__list", // Required. Can be a class, id, or an HTMLElement
            animate: true,
            gutter: 30,
            static: true,
            useMin: true,
            maxColumns: 3,
            center: true,
        });
        magicGrid.listen();
        setTimeout(function () {
            magicGrid.positionItems();
        }, 300)
    }
</script>
<script onload="mgLoaded();" src="{{ 'js/mg.js' | absolute_url }}"></script>
