---
layout: default
---


<div class="shows container">
    <h1>Bulldog shows</h1>
    {% for show in site.shows %}
        <a class="shows-item" date-is="{{ show.show_date | date_to_string }}" href="{{ show.url | absolute_url }}">
            <h2 class="shows-item--title">{{ show.title }}</h2>
            <div class="shows-item--body">
                <p>{{ show.short_description | slice: 0, 80 }}</p>
            </div>
            <div class="shows-item--image-box">
                {% if show.banner_image and show.banner_image != "" %}
                <img class="shows-item--image" src="{{ show.banner_image | absolute_url }}" alt="{{ show.title }}">
                {% endif %}
            </div>
        </a>
    {% endfor %}
</div>

